<h1>Featured</h1>

{{! only output if they are featured }}
{{#each listings }}
  {{#if this.is_promoted}}
  <h2>Name: {{ name }}</h2>
  {{/if}}
{{/each}}

{{! only output if the developer is Premium }}
<h2>Premium</h2>
{{#each listings }}
  {{#is this.developer.level }}
  <h2>Name: {{ this.developer.level  }}</h2>
  {{/if}}
{{/each}}

