<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js" lang="en"> <![endif]-->
<head>
<!-- 
 M          M  MN        M     MMMMMM       MMMMM                                                   
MMM        MM   MM      M    MM     MM     M     MM     MMMMMMMMM    MMMMMMMMMM      MMM            
M M       M M    M     MM   M        MM    M      MM    MM   MMMMM   MMMM   MNMM     MMM            
M  M     MM M     M   MM   MM         MM   M      MM           MMM   MMMM     MMM    MMM            
M  MM    M  M      M  M    MM         MM   M     MM        MMM MMM   MMMM     MMMM   MMM            
M   M   M   MM      MM     M          MM   M     NMM    MMMMMMMMMM   MMMM     MMMM   MMM            
M    M NM   MM      MM     MM         MM   M       MM  MMMM    MMM   MMMM     MMMM   MMM            
M    MMM    MM      MM     MM         M    M       MM  MMM     MMM   MMMM     MMM    MMM            
M     M     MM      MM      MM       MM    M      MM   MMMM    MMM   MMMMM  MMMMM    MMM            
M           MM      MM        MMMMMMM      MMMMMMM+     MMMMMMMMMM   MMMMMMMMMM      MMM            
                                                                     MMMM                           
                                                                     MMMM                           
                                                                     MMMM                           
                                                                     MMMM                 
The MYOB Add-On Centre was lovingly crafted by the MYOBAPI Team - we're glad to see you like looking under the hood? 
Awesome, so do we .... You should hit us up on @myobapi ... and lets see what you can build with our API 
-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- user code here -->
<title>{{ site.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="{{ site.description }}" name="description" />
<meta name="robots" content="NoODP, NoYDir" />
<meta name="google-site-verification" content='ooftpUFRCS4-AGm7fSVoDI_b1AeeXrj4c8PPMdUsG5o' /> 
<!-- #BEGIN Addon css -->
 <link href="/addons/static/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />    
 <link href="/addons/static/css/addon-css.css" rel="stylesheet" />
<!-- #END Addon css -->
<script type="text/javascript" src="//use.typekit.net/ato2xfl.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<meta name="msvalidate.01" content="458D0EE35C07A0A9ACC883D133BBF8DE" />
	<link href='http://res0.myob.com/resources/css/res0.min.css' rel="stylesheet" type="text/css" media="screen" />   
	<link href='http://res1.myob.com/resources/css/print.min.css' rel="stylesheet" type="text/css" media="print" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/resources/js/jquery-1.7.2.min.js"><\/script>')</script>
<!--[if lte IE 9]>
<link media="screen" type="text/css" rel="stylesheet" href='http://res1.myob.com/resources/css/ie8.min.css'>
<![endif]-->
<!--[if lte IE 8]>
	<script src='http://res2.myob.com/resources/js/html5shiv-printshiv.js' type="text/javascript"></script>
<![endif]-->
<!--[if lte IE 7]>
  <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
	<link media="screen" type="text/css" rel="stylesheet" href='http://res1.myob.com/resources/css/ie7.min.css' >
<![endif]-->
<!-- user code here -->
<script src='http://res2.myob.com/resources/js/ga_sli_vwo_myob.js' type="text/javascript"></script>
</head>

<body>
<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->
<script type="text/javascript">       
  var dataLayer = dataLayer || [];
</script>
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MV7P"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MV7P');</script>
<div class="skipLink"> <a href="#startContent" class="skipLink">Skip to Content</a> <img alt="" src="/resources/images/elements/img-logo.gif" class="printLogo"> <a id="top" name="top"></a> </div>
<header>
<!-- SLI header starts -->
<!-- SLI header ends -->	
<!-- SLI navigation starts -->
<!--
SITE AREA: BUSINESS au.com.myob.www.model.Page@a39a45e1
-->
	   <!-- Set the site section cookie -->
	   <div style="display:none;visibility:hidden;">
	     <img alt="" src="/servlet/CookieServer?name=SiteAreaCookie&amp;secure=false&amp;timeout=31536000&amp;url=%2F&amp;value=BUSINESS" />
	    </div>
        <div class="quattro-global-nav" role="navigation">
            <div class="wrapper">
            <div itemscope itemtype="http://schema.org/Organization">
                <a itemprop="url" class="navbar-brand fltLeft" href="http://myob.com.au" onclick="_gaq.push(['_trackEvent', 'Nav', 'logo']);">
                	<img itemprop="logo" alt="MYOB" src='/addons/static/img/myob_logo_small.png'>
                </a>
            </div>
            <div>
                <!-- The stuff floated on the left -->
                <ul class="fltLeft main-nav-links">
                                 <li><a href='/business-1258090781393' class="business active" title='Accounting & Payroll Software for Businesses'>Small Business</a>
                                  <div class="arrow-down"></div>
                                </li>
                                 <li><a href='/enterprise-1258090781411' class="enterprise" title='ERP Software - Flexible & Scalable ERP Solutions'>Larger Business ($3M+ turnover)</a>
                                  <div class="arrow-down"></div>
                                </li>
                                 <li><a href='/accounting-practices-1258090781416' class="accounting" title='Accounting Practice Software for Accountants'>Accountants</a>
                                  <div class="arrow-down"></div>
                                </li>
                            	 <li><a href='/partners-1258090781421' class="partners" title='MYOB Partners – Membership Solutions & Partner Resources'>Partners</a>
                                  <div class="arrow-down"></div>
                                </li>
            </ul>
<!-- user code here -->
            <!-- The stuff floated to the right   -->
            <ul class="navbar-right fltRight">
                <li><a class="support-link" href='/business/customer-service-support-1258090781438'>Support</a></li>
                <!-- The dropdown for sign-in -->
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span style="float:left;">Sign bn&nbsp;</span><span class="glyphicon glyphicon-user"></span> </a> <!-- Dropdown menu -->
<ul class="dropdown-menu">
	<li>
		<a href="https://essentials.myob.com.au/LA/login.html">MYOB Essentials<br>
<sub style="font-size:75%;">formerly LiveAccounts</sub></a></li>
	<li class="separator">
		&nbsp;</li>
	<li>
		<a href="http://my.myob.com.au/">my.MYOB</a></li>
	<li class="separator">
		&nbsp;</li>
	<li>
		<a href="https://my.myob.com/community/login.aspx">MYOB Community</a></li>
	<li class="separator">
		&nbsp;</li>
	<li>
		<a href="/partners/partner-resources-1258090827546">Partner Resources</a></li>
	<li class="separator">
		&nbsp;</li>
	<li>
		<a href="https://companydocs.myob.com.au/Integrate/Integrate">CompanyDocs</a></li>
</ul>
        <style type="text/css">#signInOptions{
                background-color: #ffffff;
                position: absolute;
                margin-left: 0px;
                width: 152px;
                z-index: 10;
                padding:5px;
                padding-right:10px;
                padding-bottom:0px;
                margin-left:-117px;
                /*ie 7 only: 
                margin-top: 20px;
                margin-left:-178px;
                */
                /*end ie 7 only: */
border: thick solid #eeeeee;
                text-align: right;
                /* fancy stuff: */
                -moz-border-radius: 5px;
                border-radius: 5px;
                -moz-border-radius-topright: 0px;
                border-top-right-radius:0px;
                -moz-box-shadow: 2px 2px 3px #333;
                box-shadow: 2px 2px 3px #333;
}
#signInOptions li {
                padding-bottom: 5px;
                padding-top: 5px;
}
#signInOptions li h4{
                margin-bottom:0px;
                font-weight:normal;
}
#signInOptions li ul li {
                float: right;
                padding-left: 5px;
}
#signInOptions li ul li a{
                font-weight: normal;
}
</style>
        <script type="text/javascript">function addClickToBody(){
	$(document.body).bind('click', function(event) {
			if(disableClick==false){
				//window.alert("click on body");
				$('#signInOptions').toggle();
				urchinTracker('/MYOB2/Sign-In/Close');
				$(document.body).unbind('click');
				window.setTimeout(addClickToSignIn, 50);
			}
			disableClick = false;
	});
}
function addClickToSignIn(){
	$('.signIn').bind('click', function(event) {
		event.preventDefault();
		$('#signInOptions').toggle();
		urchinTracker('/MYOB2/Sign-In/Open');
		$('.signIn').unbind('click');
		window.setTimeout(addClickToBody, 50);
		window.setTimeout(disableClickOnMenu, 50);
	});
}
function disableClickOnMenu(){ 
	// to allow people to click the drop down and not hide the menu
	$('#signInOptions').bind('click', function(event) {
		disableClick = true;						
	});
}
//the onclick needs to be bound to the sign-in  - can be placed in another $(document).ready(function(){ if possible
var disableClick = false;
$(document).ready(function(){
	addClickToSignIn();
});
</script>
                </li>
                <!-- The dropdown for search -->
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-search"></span> </a> <!-- Dropdown menu -->
                  <ul class="dropdown-menu searchInputDropdown">
                    <li >
                      <div class="input-group input-group">
                       <gcse:searchbox-only></gcse:searchbox-only>
</div>
                    </li>
                  </ul>
                </li>
            </ul>
            </div>
            </div>
        </div>
        <div class="wrapper clearfix">
        <nav id="business-nav">
            <div id="secondary-nav-container">
                 <ul class="nav">
                                <li class="products active active"><a class="category" href='#' >Products</a>
                                    <div class="mega-menu">
                                       <div class="mm-wrap">
<div class="three-col clearfix">
	<div class="col">
		<h3>
			Accounting software</h3>
		<ul>
			<li>
				<a href="http://myob.com.au/myobessentials">MYOB Essentials</a></li>
			<li>
				<a href="/myob/business/accountright-plus-1388121212671">MYOB AccountRight Plus</a></li>
			<li>
				<a href="/products/small-business/other-accounting-software/accountright-premier-1257830115947">MYOB AccountRight Premier</a></li>
			<li>
				<a href="/myob/business/accountedge-pro-1395391681375">MYOB AccountEdge</a></li>
			<li>
				<a href="/myob/business/test-drive-myob-software-today-1258091115997">Try MYOB accounting software free</a></li>
		</ul>
	</div>
	<div class="col">
		<h3>
			Payment solution</h3>
		<a href="/myob/business/paydirect-pre-registration-1393383683616">MYOB PayDirect</a><br />
		<h3>
			Other products</h3>
		<ul>
			<li>
				<a href="/products/small-business/point-of-sale-1258090695053">Shop and hospitality software</a></li>
			<li>
				<a href="/products/small-business/websites-hosting/myob-atlas-1257830134939">Website and hosting</a></li>
		</ul>
	</div>
	<div class="col">
		<h3>
			Already have a product?</h3>
		<ul>
			<li>
				<a href="/business/customer-service-support/updates-and-upgrades-1258091670113">Updates &amp; upgrades</a></li>
			<li>
				<a href="/products/small-business/more-from-myob-1258090808423">More from MYOB</a></li>
			<li>
				<a href="/addons">Add on solutions</a></li>
		</ul>
		<h3>
			Try MYOB software free</h3>
		<ul>
			<li>
				<a href="/myob/business/test-drive-myob-software-today-1258091115997">Free trials</a></li>
		</ul>
	</div>
	<div class="col" style="display:none;">
		<h3>
			Featured product</h3>
		<a href="/myob/business/essentials-accounting-1258093127709">
	<IMG CLASS="StandardImage" rendermode="live" SRC="/servlet/Satellite?blobcol=urlimage&blobheader=image%2Fpng&blobkey=id&blobtable=Image&blobwhere=1392553921527&ssbinary=true" />
</a>
		<ul>
			<li>
				Easy online accounting for less than $1 a day.</li>
			<li>
				<a href="/products/small-business/online-accounting/liveaccounts-1257830084768">Find out more</a></li>
		</ul>
	</div>
</div>
<p>
	&nbsp;</p>
                                        </div>
                                    </div>
                                 </li>
                                <li class="support "><a class="category" href='/business/customer-service-support-1258090781438' >Support</a>
                                    <div class="mega-menu">
                                       <div class="mm-wrap">
<div class="three-col clearfix">
	<div class="col">
		<h3>
			Product Support</h3>
		<ul>
			<li>
				<a href="/business/customer-service-support-1258090781438">Product Support </a></li>
			<li>
				<a href="/business/customer-service-support/accountright-1257830110346" class="fwckembeddedlink">AccountRight Live Subscriptions </a></li>
			<li>
				<a href="/business/customer-service-support/myob-cover-1258091660322" class="fwckembeddedlink">MYOB Cover</a></li>
			<li>
				<a href="/business/customer-service-support/updates-and-upgrades-1258091670113" class="fwckembeddedlink">Upgrades &amp; Updates </a></li>
			<li>
				<a href="/business/customer-service-support/end-of-financial-year-support-1257828347718" class="fwckembeddedlink">End of Financial Year<br />
				Support </a></li>
			<li>
				<a href="/business/customer-service-support/m-powered-services-1257829099467" class="fwckembeddedlink">M-Powered Services</a></li>
		</ul>
	</div>
	<div class="col">
		<h3>
			Customer Service</h3>
		<ul>
			<li>
				<a href="/business/customer-service-support/customer-service/account-faqs-1257828989073">Change your address or other details</a></li>
			<li>
				<a href="/business/customer-service-support/customer-service/activation-confirmation-1258090985181">File Activation &amp; confirmation</a></li>
			<li>
				<a href="http://my.myob.com.au/Pages/ProductRegistration.aspx">Register a product</a></li>
			<li>
				<a href="http://myob.com.au/convert">Convert to MYOB</a></li>
		</ul>
	</div>
	<div class="col">
		<h3>
			End of Financial Year</h3>
		<p style="text-align: center">
			2013 compliance update<br />
			Now available</p>
		<ul>
			<li>
				<a href="/business/customer-service-support/end-of-financial-year-support/step-by-step-eofy-guide-for-your-software-1257830915890">Step by Step EOFY Checklist</a></li>
			<li>
				<a href="/business/customer-service-support/end-of-financial-year-support/getting-the-compliance-update-1257829796901">Get the compliance update</a></li>
			<li>
				<a href="/business/customer-service-support/end-of-financial-year-support/tax-changes-information-1257828348192">Tax changes information</a></li>
		</ul>
	</div>
</div>
<p>
	&nbsp;</p>
                                        </div>
                                    </div>
                                 </li>
                                <li class="training"><a class="category" href='/business/training-events-1258090678963' >Training</a>
                                    <div class="mega-menu">
                                       <div class="mm-wrap">
<div class="two-col clearfix">
	<div class="col">
		<h3>
			Training</h3>
		<ul>
			<li>
				<a href="/business/training-events/training-courses-pricing-1258090678511" class="fwckembeddedlink">Classroom training</a></li>
			<li>
				<a href="/business/training-events/myob-training-1257829274506" class="fwckembeddedlink">Training Locations</a></li>
			<li>
				<a class="fwckembeddedlink" href="/business/training-events/online-training-1257828747176">Online training</a></li>
			<li>
				<a href="/business/training-events/accountright-live-training-1257830227621" class="fwckembeddedlink">AccountRight Live training</a></li>
			<li>
				<a href="/business/training-events/training-manuals-1258091276486" class="fwckembeddedlink">Training manuals &amp; resources</a></li>
			<li>
				<a href="/business/training-events/training-courses-pricing/special-offers/last-minute-specials-1258090678678" class="fwckembeddedlink">Last-minute specials</a></li>
			<li>
				<a href="/business/training-events/training-courses-pricing/faqs-1258090675137" class="fwckembeddedlink">FAQs</a></li>
			<li>
				<a href="/business/training-events/training-courses-pricing/how-to-book-1258090676571" class="fwckembeddedlink">How to book</a></li>
		</ul>
	</div>
	<div class="col">
		<h3>
			Other Training Options</h3>
		<ul>
			<li>
				<a href="/business/training-events/other-training-options/certified-consultants-1258090675039" class="fwckembeddedlink">Certified Consultants</a></li>
			<li>
				<a href="/business/training-events/other-training-options/retailmanager-professionals-1257830054131" class="fwckembeddedlink">Retail Manager Professional</a></li>
		</ul>
	</div>
</div>
<p>
	&nbsp;</p>
                                        </div>
                                    </div>
                                 </li>
                                <li class="contact "><a href='/business/contact-us-1258090781452' >Contact Us</a></li>
                 </ul> 
                 </div>
        </nav>
        </div>
</header>
<!--
SITE AREA: BUSINESS au.com.myob.www.model.Page@a39a45e1
-->
<!-- SLI navigation ends -->
<!-- MYOBDetail: MYOB2 -->
<!-- SLI content starts -->
                    <div class='content Page  BUSINESS'>
    <!--load template: MYOBBasicContentLeftNavDetail -->
<!-- SLI content noIndex starts -->
<div class="breadcrumb">
	<ul class="floatlist">
				<li class="myob"><a href='/'>Home</a></li>
				<li class=""> > </li>
				<li class="business"><a href='/business-1258090781393'>Business</a></li>
				<li class=""> > </li>
				<li class="business">Third Party Add-on Solutions</li>
    </ul>
  </div>
<!-- SLI content noIndex ends -->

