
{{#with carousel}}
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <style type="text/css">
    .carousel-inner .item { 
      height: 290px;
      min-height: 290px;
      max-height: 290px;
      border-radius: 5px;
      background-color: rgba(249, 248, 251, 0.1);
    }

    .carousel-inner .item img {
      width: 515px;
      border-radius: 5px;
      margin: auto;
      top: 0;
      bottom: 0;
    }

  </style>
  <script>
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: false
    });
  });
</script>

  <script type="text/javascript">
  $(document).ready(function(){
      $('.worksWith img').mouseenter(function(){
          $(this).tooltip('show');
      }).mouseleave(function(){
          $(this).tooltip('hide');
      });
  });

  $(document).ready(function(){
      $('.devRibbon a img').mouseenter(function(){
          $(this).tooltip('show');
      }).mouseleave(function(){
          $(this).tooltip('hide');
      });
  });
  
  </script>
  <hr>
  <div class="carousel-inner">
    
    {{#each carousel}}
      <div class="item">{{ item }}</div>
    {{/each}}
    
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
</div>
{{/with}}
