---
title: Budget &amp; Forecasting
lead: With the end of financial year approaching soon we are running our next showcase around addons that help with budgeting and forecasting. This month's showcase will focus on 2 solutions Calxa and Cerebiz. We'll have both the developer partners talking about how their add-ons can help you unlock the power from working in the cloud.
youtube: //www.youtube.com/embed/FNNZza4oVkY
name: Budgets &amp; Forecasting
slug: budgeting-forecasting-addon-showcase-may2014
tileImage: http://developer.myob.com/media/cms_page_media/917/may.jpg
watchBtn: http://developer.myob.com/addons/showcase/may-2014/budgets-forecasting/
---

<div class="page_background page_body wood">
  <div class="container ">
    <div style=" text-align: center;" class="span12">
    	<iframe width="711" height="400" src="//www.youtube.com/embed/FNNZza4oVkY" frameborder="0" allowfullscreen></iframe>
    </div>
   </div>
 </div>

 <div class="container norm">
    <h2>{{ this.title }}</h2>
    <p class="top">With the end of financial year approaching soon we are running our next showcase around addons that help with budgeting and forecasting.</p>
<p class="top">This month's showcase will focus on 2 solutions Calxa and Cerebiz. We'll have both the developer partners talking about how their add-ons can help you unlock the power from working in the cloud.</p>
</div>