---
  title: Budgets & Forecasts
  session: may-2014
  lead: "Take a look with us into the add-ons that help you prepare for a new financial year with Budgeting & Forecasting"
  thumbnail: /addons/media/showcase/may.jpg
---

<div class="page-body">

<div class="page_background page_body wood">
  <div class="container ">
    <div style=" text-align: center;" class="span12">
    <iframe width="711" height="400" src="//www.youtube.com/embed/FNNZza4oVkY?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
</div>

<div class="container norm">
    <h2>{{ title }}</h2>
    <p class="top">
    With the end of financial year approaching soon we are running our next showcase around addons that help with budgeting and forecasting.
    </p>
    <p class="top">
    This month's showcase will focus on 2 solutions Calxa and Cerebiz. We'll have both the developer partners talking about how their add-ons can help you unlock the power from working in the cloud.
    </p>
</div>

<div class="container norm addon">
    <div class="col-md-9 span8">
      <h2>Calxa</h2>
      <p class="lead">Ideal for those with complex reporting needs</p>
      <p>Calxa Premier is designed for Not-for-Profits and Businesses with complex budgeting requirements. It allows easy reporting at job and category levels producing professional reports and charts that are simple to understand. Calxa was recognised by MYOB for developing outstanding software and by the <a href="http://www.calxa.com.au/news/calxa-honoured-in-national-innovation-awards?partner_id=962">national iAwards</a> for innovation in technology.</p>
      <p><strong>Free Trial</strong> Mick mentioned <a href="http://www.calxa.com.au/freetrial">a free trial - here's the link</a></p>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-default" href="/addons/listing/2/calxa-premier/">Calxa's add-on details</a><a class="btn btn-default" href="http://www.calxa.com.au/products/calxa-premier">Calxa's Website</a><a class="btn btn-default" href="http://www.calxa.com.au/partners/reseller">Partner Details</a><a class="btn btn-default" href="http://www.calxa.com.au/training/training-a-support">Training &amp; Support</a><a class="btn btn-default" href="http://www.calxa.com.au/email-enquiries/general/contact-calxa">Contact Calxa</a>
        </div>
      </div>
    </div>
    <div style="text-align: center; padding-top: 65px;" class="col-md-3 span3">
      <a href="/addons/developer/1/calxa/"><img src="/addons/media/logos/calxa_logo.png" class="img-rounded" width="150"></a>
  </div>
</div>

<div class="container norm addon">
    <div class="col-md-9 span8">
      <h2>Cerebiz</h2>
      <p class="lead">WHAT IF we could achieve this… Optimise Budget Forecasts, Variances, Flexible Reports</p>
      <p>Business Advisers, Accountants, Certified Consultants, and bookkeepers can now access Cash and Profit information not possible until now. This provides the basis of new value added services to your client's business to help improve cash flow and profitability. The Cerebiz Budget module enables trusted Business Advisors to easily and quickly develop "What-if" scenarios for the business and comprehensive budget management. This can be achieved with a minimum of effort on the part of the Business Advisor. Cerebiz budget is one of the Cerebiz modules designed to assist business advisors in supporting their business clients.</p>
      <p><strong>Free Trial</strong> Peter mentioned <a href="http://www.cerebiz.com">a free trial - here's the link</a></p>
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="btn btn-default" href="http://myob.com.au/addons/listing/97/cerebiz-budget/             
">Cerebiz's add-on details</a><a class="btn btn-default" href="http://www.cerebiz.com.au/">Cerebiz's Website</a><a class="btn btn-default" href="http://www.cerebiz.com.au/ContactUs.aspx">Contact Cerebiz</a>
        </div>
      </div>
    </div>
    <div style="text-align: center; padding-top: 65px;" class="col-md-3 span3">
      <a href="/addons/developer/49/cerebiz-pty-ltd/"><img src="/addons/media/logos/cerebiz.jpg" class="img-rounded" width="150"></a>
  </div>
</div>
