{{> header }}

<div class="addons clearer" id="addonContent">
<!-- MAIN BODY HERE -->
<!-- #BEGIN Addon Page Body Content -->
<style>
    
.container, .norm {
	width: auto !important;
	max-width: 970px !important;
}
.norm {
margin: 0;
padding: 0;
}


.addon { 
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-top: 1px solid #F1F1F1 !important;
	padding-bottom: 25px !important;
}

h2 {
	font-size: 30px;
	line-height: 1.4;
	margin: 0 0 20px;
	color: #5c247b;
	color: rgba(92, 36, 123, 0.8);
}

h4 {
	font-family: "ubuntu-n4",'Ubuntu',Arial,Helvetica,sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;

	color: #484848;
	margin: 0 0 15px 0;
	font-size: 18px;
	line-height: 1.4;
}

p {
	color: #6f6f6f;
	font-size: 14px;
}

p.snippet {
	min-height: 70px;
	height: 70px;
}

p.top {
	font-size: 16px;
	line-height: 1.4;
	margin: 0 0 20px 0;
	color: #3c4246;
	color: rgba(59, 65, 69, 0.8);
	font-family: "ubuntu-n3", 'Ubuntu', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	width: 920px;
}

.showcase-item {
	float: left;
	width: 296px;
	text-align: left;
	margin-right: 5px;
	padding-bottom: 15px;
	margin-bottom: 15px;

	border-bottom: 1px solid #F1F1F1 !important;
}

.showcase-item h4 {
	margin-top: 15px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

padding-left: 0 !important;

}
</style>


  {{> body }}

<!-- #END Addon Page Body Content -->
<!-- MAIN BODY HERE -->
  </div>

</div>

{{> footer }}
